<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <title>个人博客</title> 
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/index.js"></script>
</head>
<body>
    <div id="box">
        <!-- 头部 -->
        <div id="header">
            <ul class="col-md-12 navul">              
                <li v-for="site in sites" class="col-md-1 col-xs-12 text-center">
                    <a href="#" class="col-md-12">{{site.name}}</a>
                </li>
                <li class="col-md-2 col-xs-12 text-center hidden-xs ">
                    <form class="form-inline col-md-12 col-xs-12">
                        <div class="from-group">
                            <label for="seach" style="color:black" class="sr-only">搜索</label>
                            <div class="input-group">
                                    <input type="text" class="form-control" id="seach" placeholder="请输入" style="height:26px;margin-top:-2px;">
                            </div>
                            <button type="submit" class="btn btn-primary btn-xs" style="margin-top:-2px;">搜索</button>
                        </div>
                    </form>
                </li>
            </ul>
            <div class="imgBox">
                <ul class="imgul">
                    <li v-for=" item in sites1">
                        <img :src=item.url alt="" class="img-rounded" >
                    </li>
                </ul>
            </div>
            <div class="ulNum">
                <ul></ul>
            </div>
            <div class="left">&lt;</div>
            <div class="right">></div>
        </div>        
        <!-- 身体 -->
        <div id="body">
           <div class="ContentBox col-md-7" v-for="site in sites1">
                <div class="Conent container-fluid col-md-12" >
                   <h3><a href="#" class="col-md-12">{{site.title}}</a> </h3>
                      <div class="imgdiv col-md-4" >
                         <img :src=site.url alt="">
                      </div>
                      <div class="rightDiv col-md-8"> 
                      <div class="ContentDiv">
                            {{site.content}}
                      </div>
                      <div class="ContentFooter">
                          <span class="outspan"><span class="fa  fa-navicon"></span>图片展示</span>
                          <span class="outspan"><span class="fa  fa-clock-o">2018-07-16</span>
                          <span class="outspan"><span class="fa fa-eye"></span>2已阅读</span>
                          <span class="outspan"><span class="fa fa-heart-o"></span></span>
                      </div>
                    </div>
                </div>
               
            </div>
            <div class="ContentRight col-md-5">
                <div  class=" title">最新</div>
                <div class="ContentBoxRight col-md-12" v-for="site in sites2">
                    <img :src="site.url" alt="" class="">
                </div>
            </div>
        </div>
        <!-- 脚部 -->
        <div id="footer">
            2018-10-18-2018-10-18
        </div>
    </div>
     
</body>
</html>