<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <title>个人博客</title> 
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>
<body>
    <div id="box">
        <!-- 头部 -->
        <div id="header">
            <ul class="col-md-12 navul">              
                <li v-for="site in sites" class="col-md-3 text-center">
                    <a href="#" class="col-md-12">{{site.name}}</a>
                </li>
                <li class="col-md-3 text-center">
                    <form class="form-inline">
                        <div class="from-group">
                            <label for="seach" style="color:black" class="sr-only">搜索</label>
                            <div class="input-group">
                                    <input type="text" class="form-control" id="seach" placeholder="请输入" style="height:26px;margin-top:-2px;">
                            </div>
                            <button type="submit" class="btn btn-primary btn-xs" style="margin-top:-2px;">搜索</button>
                        </div>
                    </form>
                </li>
            </ul>
            <div class="imgBox">
                <ul class="imgul">
                    <li v-for=" item in sites1">
                        <img :src=item.url alt="" >
                    </li>
                </ul>
            </div>
            <div class="ulNum">
                <ul></ul>
            </div>
            <div class="left">&lt;</div>
            <div class="right">></div>
        </div>        
        <!-- 身体 -->
        <div id="body">
           <ul class="col-md-12">
               <li v-for="site in sites" class="col-md-2 text-center">
                   <a :href=site.url class="col-md-12">{{site.name}}</a>
               </li>
           </ul>
           <div class="Conent container-fluid">

           </div>
        </div>
        <!-- 脚部 -->
        <div class="footer">

        </div>
    </div>
     
</body>
</html>